
module.exports = {
	lastfm: {
		apikey: '',
		secret: ''
	},
	facebook: {
		name: '',
		id: 0,
		clientID: 0,
		clientSecret: '',
		userAccessToken: ''
	},
	redis: {
		ip: '127.0.0.1',
		port: 6379
	}
};